@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --code-background: #f1f1f1;
  --code-text: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.dark {
  --code-background: #2d2d2d;
  --code-text: #e0e0e0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

code {
  font-size: 1.2em;
  line-height: 1.5;
  font-family: monospace;
  background-color: var(--code-background);
  color: var(--code-text);
  padding: 2px 4px;
  border-radius: 4px;
  vertical-align: middle;
  word-break: break-word;
  hyphens: auto;
}
